body {
    font-family: 'aAbstractGroovy';
}
a:link {
    color: rgb(143, 212, 143);
    background-color: transparent;
    text-decoration: none;
}
.subHeader1 {
    padding-top: 25px;
    padding-bottom: 10px;
}
.email {
    font-weight: 500;
    font-size: larger;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 5px;
}
.note {
    text-align: center;
    padding-bottom: 25px;
    font-size: small;
}
.stillLife {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;
    border-radius: 50%;
}
